@import url(https://fonts.googleapis.com/css2?family=Noto+Sans);
* {
    font-family: Noto Sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
}

table.board {
    margin-top: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

div.value-container {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2rem;
}

td.box {
    border-radius: 5px;
    color: #ECEFF4;
    transition: ease-in 0.2s;
}

td.blocked {
    background-color: #4C566A;
}

td.empty {
    background-color: #E5E9F0;
}

td.player-1 {
    background-color: #BF616A;
}

td.player-2 {
    background-color: #81A1C1;
}
